/* stylelint-disable selector-class-pattern */
:root {
	--vp-font-family-base: "InterVariable", "Noto Sans SC", system-ui, sans-serif;
	--vp-font-family-mono: ui-monospace, "JetBrains Mono", "Cascadia Code", "Consolas", "monospace", var(--vp-font-family-base), monospace;
	--vp-c-brand-1: #37F;
	--vp-c-brand-2: #3AF;
	--vp-c-brand-3: #49E;
	--vp-c-brand-soft: #3AF4;

	font-variant-alternates: styleset(open-digits, disambiguation, round-quotes-and-commas);
	text-autospace: normal;
}

:root.dark {
	--vp-c-brand-1: #5AF;
}


::selection {
	background-color: var(--vp-c-brand-soft);
}

code, pre {
	text-autospace: none;
}

button > svg:only-child {
	display: block;
}

select, input {
	height: 1.8em;
	border-radius: 0.3rem;
	background-color: var(--vp-c-default-soft);
}

select {
	padding: 0 0.2rem;
	appearance: auto;
}

option {
	background-color: var(--vp-c-bg-soft);
}

input {
	padding: 0 0.5rem;
}

input[type="checkbox"] {
	height: 1.2em;
}

.VPFeature {
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.VPFeature .icon {
	position: absolute;
	opacity: 0.15;
	right: 10%;
	background-color: transparent;
	font-size: 8em;
	z-index: -1;
}

.fa-solid,
.fa-regular,
.fa-brands {
	width: 1.3em;
	vertical-align: middle;
	text-align: center;
}

svg:where(.iconify) {
	display: inline-block;
	flex-shrink: 0;
	font-size: 1.2em;
	vertical-align: sub;
}

.tippy-box {
	padding: 0.3em 0.6em;
	border-radius: 0.5em;
	box-shadow: var(--vp-shadow-3);
	background-color: var(--vp-c-bg-elv);
	font-size: 0.8em;
	color: var(--c-text-2);
}

.tippy-box[data-state="hidden"] {
	opacity: 0;
}

.tippy-box > .tippy-svg-arrow {
	fill: var(--vp-c-bg-elv);
}
